.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #000; 
  z-index: 1000; 
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100px; 
  margin-right: 10px;
}

.navbar-nav {
  margin-left: auto; 
  display: flex;
  align-items: center;
}

.nav-link {
  color: #ffffff !important; 
  margin-right: 15px;
}

.nav-link:hover {
  color: #d3d3d3 !important; /* Slightly different color on hover */
}

.nav-dropdown-menu {
  right: 0;
  left: auto;
  min-width: 150px; /* Adjusted dropdown width for better usability */
  padding: 0; /* Reduced padding */
}

.nav-dropdown-toggle::after {
  display: none; /* Remove the default dropdown icon */
}

.avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 16px;
}

.navbar-toggler-icon {
  background-image: url('/images/hamburger.png'); /* Ensure this path is correct */
}

/* Mobile view adjustments */
@media (max-width: 767px) {
  .navbar {
      padding-left: 10px; /* Reduced padding for mobile */
      padding-right: 10px;
  }

  .navbar-nav {
      text-align: center;
      flex-direction: column; /* Stack items vertically on mobile */
  }

  .nav-link {
      margin: 0;
      padding: 10px 0; /* More space for clicking on mobile */
  }

  .nav-dropdown-menu {
      right: auto;
      left: 50%; /* Center align dropdown */
      transform: translateX(-50%);
  }
}
